// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  @include heading-font;
}

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight:600;
  }
  h3.section-subheading {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 75px;
    text-transform: none;
    line-height: 1.75!important;
    @include heading-font;
  }

}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
  border-radius: 300px;  
}

.btn-xl {

  font-size: 15px;
  padding: 15px 40px;
}

.btn-primary {
  color: $primary;
  background-color: transparent;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}

.btn-secondary {
  color: $secondary;
  background-color: transparent;
  border-color: $secondary;
  &:active,
  &:focus,
  &:hover {
    background-color: $secondary !important;
    border-color: $secondary !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

input[type="submit"] {
    background-color: #166a8f;
    font-size: 20px;
    color: #fff;
    padding: 5px 50px;
    border: 1px solid #fff;
    letter-spacing: 2px;
    width: 50%;
  cursor:pointer;
}

input[type="text"], input[type="email"] {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 13px;
  color: #777777;
  font-size: 14px;
  outline: none;
  background-color:white;
  font-weight: 100;
  box-sizing:border-box;
  letter-spacing:1px;
  border:1px solid #fff;
  border-radius: 30px;
  margin-bottom:5px;
}


textarea.contact {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  height:100px;
  padding: 13px;
  color: #777777;
  font-size: 14px;
  outline: none;
  background-color:white;
  font-weight: 100;
  box-sizing:border-box;
  letter-spacing:1px;
  border:1px solid #fff;
  border-radius: 30px;
  margin-bottom:5px;
  }

select.contact {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 98%;
  padding: 13px;
  color: #777777;
  font-size: 14px;
  outline: none;
  background-color:white;
  font-weight: 100;
  box-sizing:border-box;
  letter-spacing:1px;
  border:1px solid #fff;
  border-radius: 30px;
  margin-bottom:5px;
  margin-left:4px;
  }



input[type="text"]:focus, input[type="email"]:focus, textarea.contact:focus, select.contact:focus {
  color:#ff453c;
}

button[type=submit] {
  background-color: #ff453c;
  padding: 13px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width:100%;
  border: none;
  border-radius: 30px;
  letter-spacing:1px;
  }





//carousel

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}