// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid $white;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

.referral {
  margin-bottom: 20px;
  text-align: center;
  img {
    width: 120px;
    height: auto;
    border: 7px solid $white;
  }
  h4 {
    margin-top: 15px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}


.dalia-button {
  padding-right: 10px;
  width:100px;
  height:100px;
  overflow: hidden;
  border-radius: 100%;
  background-image: url(/img/team/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border: 3px #f3f3f3 solid;
}