---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="donowbg">
      <div class="container">
        <div class="intro-text" style="display:block; text-align:center;">
        	<div class="intro-lead-in">Challah Bake
        	</div>
      		<br>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"  style="display:inline-block; background: rgba(255, 255, 255, 0.2); vertical-align: top; text-align:left; padding:15px; font-weight: 100; margin:10px; border-radius:20px;">
            <b>Kitchen Items</b><Br>
            <ul>
              <li>Mixing bowl</li>
              <li>Wooden spoon (bulk <a href="https://amzn.to/2MBcYSH" target="_blank">here</a>)</li>
              <li>Baking tray</li>
              <li>Kitchen towel</li>
              <li>Cooking brush (like <a href="https://amzn.to/2DCFPmV" target="_blank">this</a>)</li>
            </ul>
              <Br><BR>
              <Br>
              <b>Ingredients</b><Br>
            <ul>
              <li>1 packet of Active Dry Yeast</li>
              <li>1 cup warm water</li>
              <li>1/4 cup sugar</li>
              <li>1/3 cup vegetable oil</li>
              <li>1 whole egg</li>
              <li>1 egg yolk</li>
              <li>1.5 tsp. salt</li>
              <li>4-6 cups of flour (you will start with 4)</li>
            </ul>
      		</div>

          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"  style="display:inline-block; background: rgba(255, 255, 255, 0.2); vertical-align: left;  text-align:left; padding:15px; font-weight: 100; margin:10px; border-radius:20px;">
            <b>Instructions</b><Br>
            <ol>
              <li>Place yeast in mixing bowl and add in warm water and sugar. Mix and allow to stand for five minutes - yeast should produce some bubbles in the water. </li> 
              <li>Beat the egg in a small cup, then mix in egg, oil, and salt with rest of mixture.</li> 
              <li>Gradually add the flour, 1/2 cup at a time, mixing well after each addition to avoid clumps of flower. As mixture thickens, begin kneading the dough. Continue adding flour and kneading dough until dough is smooth and soft, and no longer sticky (but not too dry either).</li> 
              <li>Cover bowl with slightly damp kitchen towel and let the dough rise for an hour.</li>
              <li>Once the dough has risen, split the dough into three equal parts. Lightly sprinkle flour onto a clear surface, and roll the the parts into logs. Then braid the challah.</li>
              <li>Set oven to 350 degrees. Set the braided challah dough on a lightly floured baking tray (could put down foil) and set it aside for 15-30 minutes to continue rising. </li>
              <li>Brush egg yolk onto the top of the challah, place in oven, and bake for 30 minutes or until golden brown. Enjoy!</li></ol>
              <BR><br>Many thanks to Chabad SF for inspiring the recipe! 
            
          </div>
				<!-- Quotes will display above -->
				<!-- Amazon affiliate link
				<br>looking for a holiday gift? <a href="https://amzn.to/2V3yymI">Polaroid</a>! -->
	   </div>
      </div>
    </header>