---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="longtext">
      <div class="container">
        <div class="intro-text" style="display:block; text-align:center;">
        	<div class="intro-lead-in" style="margin-top: 50px;">Traditional Jewish Challah Bread
        	</div>
      		<br>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"  style="display:inline-block; background: rgba(255, 255, 255, 0.2); vertical-align: top; text-align:left; padding:15px; font-weight: 100; margin:10px; border-radius:20px;">
            <b>Servings</b>
            <br>Makes 2 medium challahs, or one large challah<br><br>
            <b>Kitchen Items</b><Br>
            <ul>
              <li>Mixing bowl</li>
              <li>Wooden spoon</li>
              <li>Parchment paper and baking tray</li>
              <li>Clean kitchen towel</li>
              <li>Pastry <a href="https://amzn.to/32WDtcm" target="_blank">brush</a></li>
              <li>Optional: disposal gloves to keep hands dough-free</li>
            </ul>
              <Br>
              <b>Ingredients</b><Br>
            <ul>
              <li>1 packet of <a href="https://amzn.to/2VlTgio" target="_blank">Active Dry Yeast</a> (2 1/4 tsp)</li>
              <li>1 cup lukewarm water</li>
              <li>1/4 cup sugar</li>
              <li>1/3 cup vegetable oil</li>
              <li>1 whole egg (optional: 2-3 eggs)</li>
              <li>1 egg yolk (for coating/egg wash)</li>
              <li>1.5 tsp. salt</li>
              <li>4 cups of all-purpose flour (+ extra 1/2 cup as needed)</li>
              <li>Optional: 1 cup chocolate chips or raisins</li>
              <li>Optional: sesame seeds, poppy seeds, or sprinkles</li>
            </ul>
            <small><i>My shopping cart for inspiration: <a href="https://amzn.to/30MNIOX" target="_blank">here</a></i></small> 
      		</div>

          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"  style="display:inline-block; background: rgba(255, 255, 255, 0.2); vertical-align: left;  text-align:left; padding:15px; font-weight: 100; margin:10px; border-radius:20px;">
            <b>Instructions</b><Br>
            <ol>
            <i>Make the dough</i><br>
              <li>Combine yeast, sugar, and lukewarm water in large mixing bowl. Mix and allow to stand for 5-10 minutes (yeast should foam). </li> 
              <li>Beat the whole egg(s) in a small cup, then add it to the yeast mixture with oil and salt. Mix well with wooden spoon.</li> 
              <li>Gradually add in 3 cups of flour, a 1/2 cup at a time, mixing well after each addition (you can knead out any clumps later!). As the mixture thickens and it becomes difficult to mix with the spoon, begin kneading the dough with your hands as you gradually add another 1/2 to 1 cup of flour, 1/4 cup at a time, until the dough is no longer wet and sticky. (At this point you've added 3 1/2 to 4 cups of flour).</li>
              <li>Knead dough for 10-15 minutes until dough is smooth and soft, continuing to add flour as needed, 2 tablespoons at a time, until the dough is no longer sticky to the touch. (Note: You may use 3.5 to 4.5 cups of flour total, every batch is different based on the number of eggs added, but the dough shouldn't feel overly dense).  </li>
              <li>Optional: If adding chocolate chips or raisins, fold into dough as you add the flour in the previous step.  
              <li>Shape the dough into a ball and place into a clean, floured mixing bowl. Cover bowl with slightly damp kitchen towel and let the dough rise for 1-2 hours in a warm room - it should double in size. Punch it down to remove air, re-dampen the towel, then let it rise again for another hour. Do not knead.</li>
              <br><i>Braid and bake!</i>
              <li>Once the dough has risen, split the dough into four equal parts for a four-braid challah (you can also make two smaller challahs by splitting the dough in half first; you can also make a three or six braid instead of four). Roll into logs of equal width on a lightly floured surface or cutting board, and braid.</li>
              <li>Pre-heat oven to 350 degrees. Line a baking tray with parchment paper and lightly flour or oil the surface. Set the braided challah dough on the tray and set it aside in a warm place for about 30 minutes to continue rising (option to cover with towel so it doesn't get crusty). </li>
              <li>Brush the challah with egg wash (egg yolk + a teaspoon of water to loosen up the yolk). Optionally sprinkle with sesame/poppy seeds or sprinkles! Bake for 20-30 minutes or until golden brown. Note that the challah will expand as it bakes, so make sure it has at least 3 inches of space on either side to grow.</li>
              <li>Enjoy!</li></ol>

            
          </div>
	   </div>
      </div>
    </header>