---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="donowbg">
      <div class="container">
        <div class="intro-text" style="display:block; text-align:center;">
        	<div class="intro-lead-in">Challah Bake
        	</div>
      		<br>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"  style="display:inline-block; background: rgba(255, 255, 255, 0.2); vertical-align: left; padding:15px; margin-top:20px; border-radius:20px;">
            <b>Kitchen Items</b><Br>
            <ul>
              <li>Mixing bowl</li>
              <li>Wooden spoon (bulk <a href="https://amzn.to/2MBcYSH" target="_blank">here</a>)</li>
              <li>Baking tray</li>
              <li>Kitchen towel</li>
              <li>Cooking brush (like <a href="https://amzn.to/2DCFPmV" target="_blank">this</a>)</li>
            </ul>
              <Br><BR>
              <Br>
              <b>Ingredients</b><Br>
            <ul>
              <li>1 packet of Active Dry Yeast</li>
              <li>1 cup warm water</li>
              <li>1/4 cup sugar</li>
              <li>1/3 cup vegetable oil</li>
              <li>1 whole egg</li>
              <li>1 egg yolk</li>
              <li>1.5 tsp. salt</li>
              <li>4-6 cups of flour (you will start with 4)</li>
            </ul>
      		</div>

          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"  style="display:inline-block; background: rgba(255, 255, 255, 0.2); vertical-align: left; padding:15px; margin-top:20px; border-radius:20px;">
            <b>Kitchen Items</b><Br>
            
          </div>
				<!-- Quotes will display above -->
				<!-- Amazon affiliate link
				<br>looking for a holiday gift? <a href="https://amzn.to/2V3yymI">Polaroid</a>! -->
	   </div>
      </div>
    </header>