---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="donowbg">
      <div class="container">
        <div class="intro-text" style="display:block; text-align:center;">
        	<div class="intro-lead-in">Challah Bake
        	</div>
      		<br>

          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"  style="display:inline-block; background: rgba(255, 255, 255, 0.2); vertical-align: left;  text-align:left; padding:15px; font-weight: 100; margin:10px; border-radius:20px;">
            Photos from website: by Sandy Millar https://unsplash.com/photos/nuS2GDpCDoI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
            Samson Creative https://unsplash.com/photos/ZGjbiukp_-A?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
            Ian Dooley https://unsplash.com/photos/k8OCHhEymME?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
            Perry Grone https://unsplash.com/photos/lbLgFFlADrY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
            Raw Pixel https://unsplash.com/photos/Ql5WVByJDxw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText

            
          </div>
				<!-- Quotes will display above -->
				<!-- Amazon affiliate link
				<br>looking for a holiday gift? <a href="https://amzn.to/2V3yymI">Polaroid</a>! -->
	   </div>
      </div>
    </header>