{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ assets_path }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ assets_path }}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ assets_path }}css/agency.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <!--testimonial js -->  
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!--client carousel slick-->
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    
        
    <!-- google analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134815400-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134815400-1');
    </script>

    
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ site.data.default.brand.name }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          {{ site.data.default.menu-string }}
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            {%- for link in site.data.default.nav -%}
            {% assign ws = '' %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {%- endfor -%}
          {% assign ws = '' %}
          </ul>
        </div>
      </div>
    </nav>
{{ content }}

<!--
    {% assign ws = '' %}
    {%- if page.layout == 'thanks' -%}
     <div class="text-muted" style="z-index: 99; background-color: #ff453c; width: 100%; height: 40px; padding: 4px; vertical-align: middle; color: #ffffff!important; text-align:center; font-size:20px; border-top:0px #ffdc3b solid; border-bottom: 0px #ffdc3b solid; font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:normal;"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Thanks for your message, I'll be in touch shortly!</div>

    {%- endif -%}
  -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">{{ site.data.default.copyright }}</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              {%- for sm in site.data.default.social-buttons -%}
              {% assign ws = '' %}
              <li class="list-inline-item">
                <a href="{{ sm.url }}" target="_blank">
                  <i class="{{ sm.icon }}"></i>
                </a>
              </li>
              {%- endfor -%}
            {% assign ws = '' %}
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              {%- for ql in site.data.default.quicklinks -%}
              {% assign ws = '' %}
              <li class="list-inline-item">
                <a href="{{ ql.url }}">{{ ql.title }}</a>
              </li>
              {%- endfor -%}
            {% assign ws = '' %}
            </ul>
          </div>
        </div>
      </div>
    </footer>

    {% assign ws = '' %}
    {%- if page.layout == 'home' -%}
    <!-- Portfolio Modals -->
    {%- for project in site.projects -%}
{% assign ws = '' %}

    <!-- Modal {{ project.id | replace: '/projects/', '' }} -->
    <div class="portfolio-modal modal fade" id="portfolioModal{{ project.id | replace: '/projects/', '' }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-11 mx-auto">
                <div class="modal-body" style="text-align:left;">
                  <!-- Project Details Go Here -->
                  <h5 class="text-muted">{{ project.title }}</h5>
                  <p><h3 class="item-intro">{{ project.description }}</h3></p>
                  <div class="row">   
                    <div class="col-md-5">  
                      <img class="img-fluid d-block mx-auto" src="{{ assets_path }}{{ project.image }}" alt="">
                    </div>

                    <div class="col-md-7">  
                      <ul class="list-inline text-muted">
                        {% assign ws = '' %}
                        <li><b>{{ site.data.default.modal.client-string }} </b> {{ project.client }}</li>
                        <li><b>{{ site.data.default.modal.category-string }} </b> {{ project.category }}</li>
                      </ul>
                      {{- project.content -}}
                      {% assign ws = '' %}                  
                    </div>
                  </div>
                 <center> <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="{{ site.data.default.modal.close-icon }}"></i>
                    {{ site.data.default.modal.close-string }}</button></center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {%- endfor -%}

    {%- endif -%}
    {% assign ws = '' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ assets_path }}vendor/jquery/jquery.min.js"></script>
    <script src="{{ assets_path }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ assets_path }}vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="{{ assets_path }}js/jqBootstrapValidation.js"></script>
    <script src="{{ assets_path }}js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ assets_path }}js/agency.min.js"></script>



    <!--client carousel slick-->
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script src="/js/clientcarousel.js"></script>

  </body>

</html>
