---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="donowbg">
      <div class="container">
        <div class="intro-text" style="display:block; text-align:center;">
        	<div class="intro-lead-in">What might I do right now?</div>
          <button onclick="newQuote()">How about...</button>
      		<div id="quotesDisplay" class="col-lg-6 col-md-6 col-sm-8 col-xs-12"  style="display:inline-block;">
				<!-- Quotes will display here -->
			</div>

        </div>
      </div>
    </header>