---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <!-- Header -->
    <header class="longtext" style="background-image:none; background-color:#212529;">

      <div class="container" style="padding-top:100px;">
              <div class="intro-text" style="display:block; text-align:center; padding:40px 0; font-style: normal;">
              <div class="intro-lead-in"> <!--< <b>Resources for You</b><br><small><small>Tools &middot; Guides  &middot; Referrals</small></small> -->
                </div></div>
        </div>
    </header>

<!--
   <section class="blog bg-light" style="padding-top:35px;padding-bottom:25px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1" style="line-height: 2;"></div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-12" style="line-height: 2;">
            <p><i><SMALL>Below is a collection of random things I've shared over the last few months - I'm just playing so no rhyme or reason just yet :) </SMALL></i></p>
          </div>
          </div>
        </div>
      </section> 
-->

    <!-- Resources -->
    <section id="resources">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>{{ site.data.for-you.services.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.for-you.services.subheading }}</h3>
          </div>
        </div>
        <div class="row text-center"> 
          {%- for service in site.data.for-you.services.service -%}
          {% assign ws = '' %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="{{ service.url }}">
              <img class="img-fluid" src="{{ service.img }}" alt="">
            </a>
            <div class="portfolio-caption">
              <p><h5>{{ service.heading }}</h5></p>
              <p class="text-muted" style="font-size:13px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ service.text }}</p>
            </div>
          </div>

          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>


   <!-- Referrals-->
    <section id="contentarea" class="bg-light">
      <div class="container">
        <div class="row" style="text-align:left;display:inline;">

            <h2>{{ site.data.for-you.contentarea.heading }}</h2>
           <!-- <h3 class="section-subheading text-muted">{{ site.data.for-you.contentarea.subheading  }}</h3> -->
        </div>
        <div class="row">
          {%- for member in site.data.for-you.referrals.members -%}
          {% assign ws = '' %}
          <div class="col-lg-3 col md-3 col-sm-4 col-xs-6" style="padding: 5px 20px; height:100%;">
            <div class="referral" style="background-color:#ffffff;border: 3px #f3f3f3 solid; padding: 15px 20px;">
              <a href="{{ member.url }}" target="_blank"><img class="mx-auto rounded-circle" src="{{ assets_path }}{{ member.img }}" alt=""></a>
              <h4>{{ member.name }}</h4>
              <p class="text-muted" style="font-size: .8rem;">{{ member.offer }}</p>
              <p style="line-height:1; font-size:.8rem;" class="text-muted"><small style="line-height: 1.6;">{{ member.text }}</small></p>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </section>
