---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ site.data.for-you.intro.lead-in }}</div>
        </div>
      </div>
    </header>


    <!-- Resources -->
    <section id="resources">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.for-you.services.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.for-you.services.subheading }}</h3>
          </div>
        </div>
        <div class="row text-center"> 
          {%- for service in site.data.for-you.services.service -%}
          {% assign ws = '' %}
          <div class="col-md-4">
            <h4 class="service-heading">{{ service.heading }}</h4>
            <p class="text-muted" style="font-size:15px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ service.text }}</p>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>


   <!-- Referrals-->
    <section class="bg-light" id="contentarea">
      <div class="container">
        <div class="row" style="text-align:center;display:inline;">
          <h2 class="section-heading text-uppercase">{{ site.data.for-you.contentarea.heading }}</h2>
        </div>
        <div class="row">
          {% assign ws = '' %}
          <div class="col-sm-12 text-left">
            <h3 class="section-subheading text-muted" style="font-size:15px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ site.data.for-you.contentarea.subheading  }}</h3>
          </div>        
          {%- for member in site.data.for-you.referrals.members -%}
          {% assign ws = '' %}
          <div class="col-sm-2">
            <div class="referral">
              <img class="mx-auto rounded-circle" src="{{ assets_path }}{{ member.img }}" alt="">
              <h4>{{ member.name }}</h4>
              <p class="text-muted">{{ member.role }}</p>
              <ul class="list-inline social-buttons">
                {%- for sm in member.social-buttons -%}
                {% assign ws = '' %}
                <li class="list-inline-item">
                  <a href="{{ sm.url }}">
                    <i class="{{ sm.icon }}"></i>
                  </a>
                </li>
                {%- endfor -%}
              {% assign ws = '' %}
              </ul>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </section>
