---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <!-- Header -->
    <header class="longtexttmm">

      <div class="container" style="padding-top:100px;">
              <div class="intro-text" style="display:block; text-align:center; padding:40px 0;">
              <div class="intro-lead-in"><b>Resources for You</b><br><small><small>Tools &middot; Guides  &middot; Referrals</small></small>
                </div></div>
        </div>
    </header>


    <!-- Resources -->
    <section id="resources">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.for-you.services.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.for-you.services.subheading }}</h3>
          </div>
        </div>
        <div class="row text-center"> 
          {%- for service in site.data.for-you.services.service -%}
          {% assign ws = '' %}
          <div class="col-md-4">
            <h4 class="service-heading">{{ service.heading }}</h4>
            <a href="{{ service.url }}" target="_blank"><img src="{{ service.img }}" style="width:100%; height: auto; padding:20px;"></a>
            <p class="text-muted" style="font-size:13px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ service.text }}</p>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>


   <!-- Referrals-->
    <section class="bg-light" id="contentarea">
      <div class="container">
        <div class="row" style="text-align:center;display:inline;">
          <h2 class="section-heading text-uppercase">{{ site.data.for-you.contentarea.heading }}</h2>
        </div>
        <div class="row">
          {% assign ws = '' %}
          <div class="col-sm-12 text-left">
            <h3 class="section-subheading text-muted" style="font-size:15px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ site.data.for-you.contentarea.subheading  }}</h3>
          </div>        
          {%- for member in site.data.for-you.referrals.members -%}
          {% assign ws = '' %}
          <div class="col-lg-2 col md-2 col-sm-4 col-xs-6">
            <div class="referral">
              <a href="{{ sm.url }}" target="_blank"><img class="mx-auto rounded-circle" src="{{ assets_path }}{{ member.img }}" alt=""></a>
              <h4>{{ member.name }}</h4>
              <p class="text-muted" style="font-size: .8rem;">{{ member.role }}</p>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </section>
