---
layout: default-sub-noA
---

<div class="container" style="padding-top:80px; margin-bottom:40px;">
	 <center><div class="dalia-button" style="margin-bottom:30px;"> </div></center>

	<div style="max-width: 500px; text-align:center; margin-left:auto; margin-right:auto;" >
	    <center>
	    
		<div class="instalinks"><a href="https://www.presently.fun/blog/7-group-gifts-that-support-small-businesses-during-covid-19/">Support Small Businesses</a></div>
		<div class="instalinks"><a href="https://presently.fun">Presently</a></div>
		<div class="instalinks"><a href="https://medium.com/@dkatan77/diversity-to-inclusion-9-steps-to-unlock-competitive-edge-pt-1-c5954c113a49">Latest Article</a></div>
	    <div class="instalinks"><a href="https://daliakatan.com/for-you">Resources</a></div>
		<div class="instalinks"><a href="https://daliakatan.com/update-1">Sabbatical Blog</a></div>
		<div class="instalinks"><a href="https://www.thewaywelead.com/podcast/episode/49b56c90/s1e4-how-to-create-more-inclusive-workplaces-with-dalia-katan">Latest Interview</a></div>
		<div class="instalinks"><a href="https://daliakatan.com/">Website</a></div>
		</center>
	</div>

</div>

