---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div>
          <div class="intro-heading text-uppercase">{{ site.data.home.intro.heading }}</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">{{ site.data.home.intro.btn }}</a>
        </div>
      </div>
    </header>

   <!-- About & Team-->
    <section id="about">
      <div class="container">
        <div class="row" style="text-align:center;display:inline;">
          <h2 class="section-heading text-uppercase">{{ site.data.home.about.heading }}</h2></div>
        <div class="row">
          {%- for member in site.data.home.team.members -%}
          {% assign ws = '' %}
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ assets_path }}{{ member.img }}" alt="">
              <h4>{{ member.name }}</h4>
              <p class="text-muted" style="font-size: 14px; line-height: 1.75 !important;font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ member.role }}</p>
              <ul class="list-inline social-buttons">
                {%- for sm in member.social-buttons -%}
                {% assign ws = '' %}
                <li class="list-inline-item">
                  <a href="{{ sm.url }}">
                    <i class="{{ sm.icon }}"></i>
                  </a>
                </li>
                {%- endfor -%}
              {% assign ws = '' %}
              </ul>
            </div>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
          <div class="col-sm-8 text-left">
            <h3 class="section-subheading text-muted" style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ site.data.home.about.subheading  }}</h3>
          </div>
        </div>

    <!-- Clients -->
        <div class="row">
          {%- for client in site.data.home.clients -%}
          {% assign ws = '' %}
          <div class="col-md-2 col-sm-3 col-xs-4" style="height:40px; padding:3px;">
              <img class="img-fluid d-block mx-auto" src="{{ assets_path }}{{ client.img }}" alt="" style="height:100%; margin-bottom:5px;">
          </div>
          {%-  endfor -%}
        {% assign ws = '' %}
        </div>
          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="#services">{{ site.data.home.team.btn }}</a></div>
      </div>
    </section>

    <!-- Services -->
    <section class="bg-light" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.services.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.services.subheading }}</h3>
          </div>
        </div>
        <div class="row text-center">
          {%- for service in site.data.home.services.service -%}
          {% assign ws = '' %}
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ service.heading }}</h4>
            <p class="text-muted" style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left;">{{ service.text }}</p>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#portfolio">{{ site.data.home.services.btn }}</a></div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.portfolio.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.portfolio.subheading }}</h3>
          </div>
        </div>
       <div class="row">
          {%- for project in site.projects -%}
          {% assign ws = '' %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ project.id | replace: '/projects/', '' }}">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>{{ project.client }}</h4>
              <p class="text-muted">{{ project.category }}</p>
            </div>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="#testimonials">{{ site.data.home.portfolio.btn }}</a></div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="bg-light" id="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.testimonials.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.testimonials.subheading }}</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel" data-interval="10000">
              <!-- Bottom Carousel Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
              </ol>
              
              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner">
              
                <!-- Quote 1 -->
                <div class="item active">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <p>Dalia carries herself beyond her years. Despite her youth, I was impressed by her professionalism, ambition, eager to learn, fast response to tasks, the quality of work she produced, and her initiative to do more. With a great background and education, alongside more experience, I think Dalia is a rising star and someone to be on the watch for. I highly recommend Dalia, as I believe she is a strong asset for any organization.</p>
                        <small>John Z., EVP Marketing</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <p>Dalia has incredible leadership skills – Envisioning, Engaging and Execution skills. She demonstrates great presence, EQ, IQ and drive and took full ownership of the project.</p>
                        <small>Akhil S., CFO</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <p>I worked with Dalia to establish and manage a network of professionals to grow Doblin's presence on the west coast. Dalia was the driver of this effort, helping it grow from the two of us to a vibrant community or practitioners, partners, and account leaders. She helped build a proactive business development initiative and manage regular community and pipeline calls as well as in-person get togethers. We now have a solid foundation for further expansion. Dalia is smart, proactive, thoughtful and energetic. She delivers high quality work and is a pleasure to work with. I have been lucky to have her as a colleague!</p>
                        <small>Erik K., Innovation Partner</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>
              
              <!-- Carousel Buttons Next/Prev -->
              <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
              <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>                          
          </div>
        </div>
          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">{{ site.data.home.testimonials.btn }}</a></div>
      </div>
    </section>

          <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>


    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2 class="section-heading text-uppercase">{{ site.data.home.contact.heading }}</h2>
            <h3 class="section-subheading" style="font-size:15px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; color:white; margin-bottom:50px;">{{ site.data.home.contact.subheading }}</h3>
          </div>
        </div>
        <div class="row" style="display:block; text-align:left;">
          <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12"  style="display:inline-block;">
              <form method="POST" action="https://formspree.io/dkatan.77@gmail.com" style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <input type="text" name="name" placeholder="Your full name"required><br>
                <input type="email" name="_replyto" placeholder="Your email" required><br>
                <select name="_subject" class="contact"><option>Select a Subject</option><option>Consulting Inquiry</option><option>Something Else</option></select> <br>
                <textarea name="message" placeholder="Your message" class="contact" required></textarea><br>
                <input type="hidden" name="_next" value="https://daliakatan.com/thanks"/>
                <button type="submit">Send</button>
              </form>
          </div>
        </div>
      </div>
    </section>
