---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="masthead" style="background-position:right;">
      <div class="container">
        <div class="intro-text" style="text-align:left;">
        <!-- <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div> -->
          <div class="intro-heading">{{ site.data.home.intro.heading }}</div>
          <a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="#about">{{ site.data.home.intro.btn }}</a>
        </div>
      </div>
    </header>

   <!-- About & Team-->
    <section id="about">
      <div class="container">
        <div class="row">
          {%- for member in site.data.home.team.members -%}
          {% assign ws = '' %}
          <div class="col-md-4 col-sm-12" style="padding:0px 40px;">
            <div class="team-member" style="margin-bottom:10px!important;">
              <img class="mx-auto" style="width:100%; border-radius:15px; height:auto; border:0; margin-bottom:30px;" src="{{ assets_path }}{{ member.img }}" alt="">
              <!-- <p><h4>{{ member.name }}</h4></p>
               <p class="text-muted" style="font-size: 14px; line-height: 1.75 !important;font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ member.role }}</p> -->

              
              <ul class="list-inline social-buttons">
                {%- for sm in member.social-buttons -%}
                {% assign ws = '' %}
                <li class="list-inline-item">
                  <a href="{{ sm.url }}" target="_blank">
                    <i class="{{ sm.icon }}"></i>
                  </a>
                </li>
                {%- endfor -%}
              {% assign ws = '' %}
              </ul> 
            </div>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
          <div class="col-md-8 col-sm-12 text-left">    
            <h2 class="section-heading" style="margin-top:15px; margin-bottom:25px;">{{ site.data.home.about.heading }}</h2>
            <p class="section-subheading text-muted" style="font-size:18px;">{{ site.data.home.about.subheading  }}</p>
<!--hiding this placement of social for now

          {%- for member in site.data.home.team.members -%}
          {% assign ws = '' %}
                          <ul class="list-inline social-buttons" style="margin-bottom:20px;">
                {%- for sm in member.social-buttons -%}
                {% assign ws = '' %}
                <li class="list-inline-item" style="text-align: center;">
                  <a href="{{ sm.url }}" target="_blank">
                    <i class="{{ sm.icon }}"></i>
                  </a>
                </li>
                {%- endfor -%}
              {% assign ws = '' %}
              </ul>

          {%- endfor -%}
        {% assign ws = '' %}
      -->
         <!-- Clients -->
        <div class="clientcarousel slider">
          {%- for client in site.data.home.clients -%}
          {% assign ws = '' %}
          <div class="slide" style="height:50px;">
              <img class="img-fluid d-block mx-auto" src="{{ assets_path }}{{ client.img }}" alt="" style="height:100%; padding:5px 20px;">
          </div>
          {%-  endfor -%}
        {% assign ws = '' %}
        </div>

          </div>
        </div>


          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="#contact">{{ site.data.home.about.btn }}</a></div>
 
        <!--
          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="#services">{{ site.data.home.team.btn }}</a></div> --> 
      </div>
    </section>


    <!-- Services 
    <section class="bg-light" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading">{{ site.data.home.services.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.services.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          {%- for service in site.data.home.services.service -%}
          {% assign ws = '' %}
          <div class="col-md-5" style="border-left: 4px #dedede solid; padding-left:30px; margin-bottom:40px;">
            <h4 class="service-heading" style="margin-top:0;">{{ service.heading }}</h4>
            <p class="text-muted" style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left;">{{ service.text }}</p>
          </div>

          <div class="col-md-1"></div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="https://daliakatan.com/strategy">{{ site.data.home.services.btn }}</a></div>
      </div>
    </section>
-->

    <!-- Speaking 
    <section id="speaking">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading text-center">{{ site.data.home.speaking.heading }}</h2>
            <!--<h3 class="section-subheading text-muted">{{ site.data.home.speaking.subheading }}</h3> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="section-subheading text-muted text-center" style="font-size:18px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
              {{ site.data.home.speaking.subheading }}
            </p><br></div>
            <div class="col-md-6 text-muted">
            <p><h4>Recent talks</h4></p>
            <p><ul id="speaking">
          	<li><b>Human-Centered Design & Storytelling</b><br>Guest Lecturer, Princeton University (Nov. 2019)</li>
          	<li><b>Fostering Understanding & Inclusion in Israel-Palestine</b><br>Speaker, IPF Atid (Oct. 2019)</li>
          	<li><b>Introduction to Human-Centered Design</b><br>Speaker & Workshop Leader, NameCoach Inclusive Excellence Fellowship (Oct. 2019)</li>
            <li><b>Bridging Cultural Divides at Work</b><br>Speaker, Women Design Talks (July 2019)</li>
            <li><b>How to Create More Inclusive Workplaces</b><br>Podcast Guest, Way We Lead Podcast <a href="https://www.thewaywelead.com/podcast/episode/49b56c90/s1e4-how-to-create-more-inclusive-workplaces-with-dalia-katan" target="_blank">(July 2019)</a></li>
            <li><b>Using Workplace Diversity to Bridge Divides</b><br>Speaker, Deloitte D-Talks (Aug. 2018)</li>
          </ul></p>
          </div>
        
          <div class="col-md-6"><img src="/img/about/speaking5.jpg" width="100%">
          </div>


          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="https://daliakatan.com/speaker">{{ site.data.home.speaking.btn }}</a></div>
      </div>
      </div>
    </section>
-->

    <!-- Portfolio Grid 
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.home.portfolio.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.portfolio.subheading }}</h3>
          </div>
        </div>
       <div class="row">
          {%- for project in site.projects -%}
          {% assign ws = '' %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ project.id | replace: '/projects/', '' }}">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
            </a>
            <div class="portfolio-caption">
              <h5>{{ project.title }}</h5>
              <p class="text-muted">{{ project.client }}</p>
            </div>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section> -->

    <!-- Testimonials -->
    <section id="testimonials" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.home.testimonials.heading }}</h2>
            <!-- <h3 class="section-subheading text-muted">{{ site.data.home.testimonials.subheading }}</h3> -->
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel" data-interval="10000">
              <!-- Bottom Carousel Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
                <li data-target="#quote-carousel" data-slide-to="3"></li>
                <li data-target="#quote-carousel" data-slide-to="4"></li>
              </ol>
              
              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner">
              
                <!-- Quote 1 -->
                <div class="carousel-item active">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>Dalia is one of the best all-around people that I know. Her tremendous background (Ivy League, Big 4 Consulting, startups) is rooted in the foundation of subject expertise/knowledge, integrity, professionalism, heart, pride in her work, and how she treats people at all levels - leaving a lasting impression to those lucky to have worked with her.</p>
                        <small>John Z., EVP Marketing, Indigenous</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="carousel-item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>Dalia has incredible strategic thinking, leadership skills – Envisioning, Engaging and Execution skills. She demonstrates great presence, EQ, IQ and drive and took full ownership of our project along with her colleagues. Teamwork between Dalia and various members was outstanding making it seamless for the entire team. She is a great talent to seek out to solve big and complex challenges. </p>
                        <small>Akhil S., Global CFO, Estée Lauder</small>
                      </div>
                    </div>
                  </blockquote>
                </div>

                <!-- Quote 6 -->
                <div class="carousel-item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>There are only a few people in the world who match her vision along with her determination and energy, and I have time and time again been left speechless.</p>
                        <small>Aoi S., CEO/Founder, Jumpstart</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>
              

                <!-- Quote 5 -->
                <div class="carousel-item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>I worked with Dalia to establish and manage a network of professionals to grow Doblin's presence on the west coast. Dalia was the driver of this effort, helping it grow from the two of us to a vibrant community or practitioners, partners, and account leaders. [...] Dalia is smart, proactive, thoughtful and energetic. She delivers high quality work and is a pleasure to work with. I have been lucky to have her as a colleague!</p>
                        <small>Erik K., Managing Director, Deloitte</small>
                      </div>
                    </div>
                  </blockquote>
                </div>

                <!-- Quote 3 -->
                <div class="carousel-item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>Dalia is extremely professional and one of the most collaborative people I’ve met with genuine interests and passions for helping others. She is detail-oriented and well-organized... She really owned the room and helped our people think outside of the box. Dalia is truly a leader and an asset for any business.</p>
                        <small>Anna S., Client, Fortune-500 Consumer Goods Co.</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
              <!-- Carousel Buttons Next/Prev -->
              <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
              <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>                          
          </div>
        </div>
      </div>
    </section>
  

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2 class="section-heading">{{ site.data.home.contact.heading }}</h2>
            <h3 class="section-subheading" style="font-size:15px;  color:white; margin-bottom:50px;">{{ site.data.home.contact.subheading }}</h3>
          </div>
        </div>

        <div class="row" style="display:block; text-align:left;">
          <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12"  style="display:inline-block;">
                            {% assign ws = '' %}
                            {%- if page.layout == 'thanks' -%}
                             <p style="padding: 4px 0; text-align:center; font-size:16px; font-weight:normal; color:#bd76ff;"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Thanks for your message, I'll be in touch shortly!</p>

                            {%- endif -%}
              <form method="POST" action="https://formspree.io/dkatan.77@gmail.com" style="font-size:14px; ">
                <input type="text" name="name" placeholder="Your full name"required><br>
                <input type="email" name="_replyto" placeholder="Your email" required><br>
                <div class="customdropdown">
                  <select name="_subject" class="embedcontact"><option>Select a Subject</option><option>Presently</option><option>Speaking Engagement</option><option>Something Else</option></select></div> 
                <textarea name="message" placeholder="Your message" class="contact" required></textarea><br>
                <input type="hidden" name="_next" value="https://daliakatan.com/thanks#contact"/>
                <button type="submit" class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger">Send</button>
              </form>
          </div>
        </div>
      </div>
    </section>
