---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <!-- Header -->
    <header class="dramatic">


      <div class="container" style="padding-top:100px;">
            
              <div class="intro-text">
                <center><div class="dalia-button"> </div></center>

              <div class="intro-heading">{{ site.data.inclusion.intro.heading }}</div>
               <div class="intro-lead-in">{{ site.data.inclusion.intro.lead-in }}<BR><br><a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSeChwFAJL93r95q13NO9nk5B1KXZ7NNZu5665wpOpsA4CPWWA/viewform" target="_blank" style="margin-top:20px; font-size: 16px;    padding: 5px 20px;    font-weight: 100;    font-style: normal;"><small>Subscribe</small></a>
                </div></div>
        </div>
    </header>

<!--
   <section class="blog bg-light" style="padding-top:35px;padding-bottom:25px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1" style="line-height: 2;"></div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-12" style="line-height: 2;">
            <p><i><SMALL>Below is a collection of random things I've shared over the last few months - I'm just playing so no rhyme or reason just yet :) </SMALL></i></p>
          </div>
          </div>
        </div>
      </section> 
-->

    <!-- Resources -->
    <section id="resources1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 style="text-transform: uppercase; font-weight: 800;border-bottom: 2px #000000 solid;">{{ site.data.inclusion.services1.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.for-you.services1.subheading }}</h3>
          </div>
        </div>
        <div class="row text-center"> 
          {%- for service in site.data.inclusion.services1.service -%}
          {% assign ws = '' %}
          <div class="col-lg-4 col md-6 col-sm-6 col-xs-6 col-12" style="padding: 5px 20px; height:100%;">
            <div class="referral" style="background-color:#ffffff; text-align:left; padding:10px;">
              <a href="{{ service.url }}" target="_blank"><img class="img-fluid" src="{{ service.img }}" alt="" style="width:100%;">
              <h4 style="text-align:left; font-weight:800; padding:10px;">{{ service.heading }}</h4></a>
              <p class="text-muted" style="font-size: .8rem; text-align:left; padding:10px;">{{ service.text }}</p>
            </div>
          </div>

          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>


    <!-- Resources2 -->
    <section id="resources2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 style="text-transform: uppercase; font-weight: 800;border-bottom: 2px #000000 solid;">{{ site.data.inclusion.services2.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.for-you.services2.subheading }}</h3>
          </div>
        </div>
        <div class="row text-center"> 
          {%- for service in site.data.inclusion.services2.service -%}
          {% assign ws = '' %}
          <div class="col-lg-4 col md-6 col-sm-6 col-xs-6 col-12" style="padding: 5px 20px; height:100%;">
            <div class="referral" style="background-color:#ffffff; text-align:left; padding:10px;">
              <a href="{{ service.url }}" target="_blank"><img class="img-fluid" src="{{ service.img }}" alt="" style="width:100%;">
              <h4 style="text-align:left; font-weight:800; padding:10px;">{{ service.heading }}</h4></a>
              <p class="text-muted" style="font-size: .8rem; text-align:left; padding:10px;">{{ service.text }}</p>
            </div>
          </div>

          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>


    <section class="bg-light" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="row">
              <div class="col-lg-2">
                <div class="dalia-button" style="width:150px; height:150px;"> </div>
              </div>
              <div class="col-sm-12 col-lg-8">
                      <h3 class="text-muted">About Dalia Katan</h3>
                      <h5 style="font-size:1rem!important; line-height:1.4;" class="text-muted">As a first-generation American and innovation strategist, Dalia is championing conversation on how diversity and human connection can unlock untapped growth for organizations. Amongst her advisory work with startups and F500 companies, Dalia founded the Refugee Workplace Integration Program at Deloitte, celebrating inclusion as the single most powerful tool for growth. She is committed to empowering organizations to successfully utilize and nurture the talents of minorities and her work at the intersection of inclusion, the future of work, and business growth has been published at Deloitte and Princeton University. <a href="https://daliakatan.com/speaker">Read more</a></h5>
                      <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="https://daliakatan.com/speaker">Invite to speak</a></div>
                  </div>
            </div>
          </div>


        </div>

          
      </div>
    </section>

