---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
 <center><div class="dalia-button"> </div></center>

<div class="row" style="max-width: 500px; text-align:center;" >
    <div class="instalinks"><a href="https://daliakatan.com/for-you">Resources</a></div>
    <div class="instalinks"><a href="https://www.thewaywelead.com/podcast/episode/49b56c90/s1e4-how-to-create-more-inclusive-workplaces-with-dalia-katan">Latest Podcast Appearance</a></div>
	<div class="instalinks"><a href="https://daliakatan.com/for-you">Latest Article</a></div>
	<div class="instalinks"><a href="https://daliakatan.com/update-1">Sabbatical Blog</a></div>
	<div class="instalinks"><a href="https://daliakatan.com/">Website</a></div>
   </div>

