---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <!-- Header -->
    <header class="longtext" style="background-image:none; background-color:#212529;">

      <div class="container" style="padding-top:100px;">
              <div class="intro-text" style="display:block; text-align:center; padding:40px 0; font-style: normal;">
                </div></div>
        </div>
    </header>

<div class="col-sm-12" style="padding: 100px 100px; background-color: #f1f1f1;transition: all 0.3s;">
  <div>
     <strong> <a href="//www.slideshare.net/DaliaKatan/a-new-home-at-work-refugee-inclusion-in-the-workplace" title="A New Home at Work: Refugee Inclusion in the Workplace" target="_blank">A New Home at Work: Refugee Inclusion in the Workplace</a> </strong> <br>Refugee Inclusion in the Workplace - successfully bringing aboard refugee employees requires more than the usual onboarding process. To create an inclusive workplace culture, organizations need a unique approach tied to broader inclusion efforts.<br> <center>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/keCKa8srXNyZx6" width="100%" height="714" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe></center> <div style="margin-bottom:5px"></div>
  </div>
</div>

