---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <!-- Header -->
    <header class="longtext" style="background-image:none; background-color:#212529;">

      <div class="container" style="padding-top:100px;">
              <div class="intro-text" style="display:block; text-align:center; padding:40px 0; font-style: normal;">
              <!-- <div class="intro-lead-in"> <b>Resources for You</b><br><small><small>Tools &middot; Guides  &middot; Referrals</small></small> -->
                </div></div>
        </div>
    </header>
    

   <!-- Referrals-->
    <section id="contentarea">
      <div class="container">
        <div class="row" style="text-align:center;display:inline;">

            <h2>Dalia's ROI Application</h2><br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/-_U_T2r8mBs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <Br><BR>

            <h3 class="section-subheading text-muted">And, in case you want to see my grandmother's cooking... </h3> <br><BR>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-_U_T2r8mBs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        </div>
      </div>
    </section>
