---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <!-- Header -->

    <header class="dramatic" style="">

      <div class="container" style="padding-top:100px;">

      <div class="intro-text">

                <center><div class="dalia-button"> </div></center>

              <div class="intro-heading">{{ site.data.speaker.intro.heading }}</div>
               <div class="intro-lead-in">{{ site.data.speaker.intro.lead-in }}<br>
                <!--<a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSeChwFAJL93r95q13NO9nk5B1KXZ7NNZu5665wpOpsA4CPWWA/viewform" target="_blank" style="margin-top:20px; font-size: 16px;    padding: 5px 20px;    font-weight: 100;    font-style: normal;"><small>Subscribe</small></a>-->

                </div></div>
        </div>
    </header>

<!--
   <section class="blog bg-light" style="padding-top:35px;padding-bottom:25px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1" style="line-height: 2;"></div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-12" style="line-height: 2;">
            <p><i><SMALL>Below is a collection of random things I've shared over the last few months - I'm just playing so no rhyme or reason just yet :) </SMALL></i></p>
          </div>
          </div>
        </div>
      </section> 
-->


    <!-- Speaking -->
    <section id="speaking">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- <h2 class="section-heading">{{ site.data.speaking.speaking.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.speaking.subheading }}</h3> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="section-subheading" style="font-size:1.5rem; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:center; padding:0 10%;">
              As a first-generation American and innovation strategist, I am championing dialogue on how diversity and human connection can unlock untapped growth for companies. </p>

              
            <br><p class="section-subheading text-muted" style="font-size:18px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:center; padding:0 10%;">Amongst my advisory work with startups and F500 companies, I founded the Refugee Workplace Integration Program at Deloitte, celebrating inclusion as the single most powerful tool for growth and business empowerment. I am dedicated to empowering organizations to successfully utilize and nurture the talents of minorities and my work at the intersection of inclusion, the future of work, and business growth has been published at Deloitte and Princeton University. 

              <Br><BR>I believe that organizations have an incredible opportunity to use diversity not only to improve business performance but also to meaningfully bridge divides and am committed to educating employers on creating the workplace environments that can reducing prejudice and improve social cohesion across gender, race, ethnicity, and political ideologies. </p><br><br>
            

                    <div class="clientcarousel slider">
                  {%- for client in site.data.speaker.clients -%}
                  {% assign ws = '' %}
                  <div class="slide" style="height:50px;">
                      <img class="img-fluid d-block mx-auto" src="{{ assets_path }}{{ client.img }}" alt="" style="height:100%; padding:5px 20px;">
                  </div>
                  {%-  endfor -%}
                {% assign ws = '' %}
                </div>
          

          </div>
        


          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="#contact">Invite to speak</a></div>
      </div>
      </div>
    </section>


<!--other categories-->
<div class="row">
  <div class="col-sm-12 col-lg-6" style="padding: 5%; background-color: #f1f1f1;transition: all 0.3s;">
    <div>
      <h3 class="text-muted"><span style="text-align: center;"><em>Recent & upcoming speaking engagements</em></span></h3>
          <h5 style="font-size:1rem!important;"><ul class="text-muted" style="line-height: 1.4">
          	<li><b>Connection and Networks in the Digital Economy</b><br>Guest Lecturer, Princeton University (Nov. 2019)</li>
          	<li><b>Using Workplace Diversity to Bridge Divides</b><br>Podcast Guest, Way We Lead Podcast (June 2019)</li>
            <li><b>Using Workplace Diversity to Bridge Divides</b><br>Speaker, Deloitte D-Talks (Aug. 2018)</li>
            <li><b>How Companies Can Retain Top Talent Through a Culture of Intrapreneurship</b><br>Speaker, Deloitte (June 2018)</li>
            <li><b>Women in Marketing</b><br>Panel Moderator, Princeton University (2015)</li>
            <li><b>An Algorithm for Growth</b><br>Workshop Speaker, Princeton Social Entrepreneurship Conference (2015)</li></ul></h5>
  </div>
  </div>

  <div class="col-sm-12 col-lg-6" style="padding: 5%; background-color: #f7f7f7;transition: all 0.3s;">
    <div>
      <h3 class="text-muted"><span style="text-align: center;"><em>Recent publications</em></span></h3>
              <h5 style="font-size:1rem!important;"><ul class="text-muted" style="line-height: 1.4">
              <li><b>A New Home at Work: An Employer's Guidebook to Fostering Inclusion for Refugee Employees</b><br>Deloitte (<a href="https://www2.deloitte.com/content/dam/insights/us/articles/4988_a-new-home-at-work/DI_A-new-home-at-work.pdf" target="_blank">2019</a>)</li>
              <li><b>Business Practice Redesign & The Future of Work: Moving From Best to Better and Better</b><br>Deloitte Center for the Edge (<a href="https://www2.deloitte.com/insights/us/en/topics/talent/business-performance-improvement/process-redesign.html" target="_blank">2018</a>)</li>
              <li><b>Entrepreneurial Finance: Uber's Path to Success (Case Study)</b><br>MIT Press (<a href="https://mitpress.mit.edu/books/entrepreneurial-finance-and-accounting-high-tech-companies" target="_blank">2014</a>)</li>
              <li><b>Rethinking Productivity: Channeling Energy and Flow Over Discipline to Get Things Done</b><br>DaliaKatan.com (<a href="https://daliakatan.com/trailmix/" target="_blank">2019</a>)</li>
              <li><b>Building a Shared Israeli Society: Improving Arab-Jewish Relations in Israel Through Workforce Integration</b><br>Princeton University (2015)</li>
            </ul></h5>
    </div>
  </div>
</div>

<!-- Contact -->
<section id="contact" style="background-image: url(../img/contact-bg4.jpg)!important; background-position:right;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2 class="section-heading text-uppercase">Invite to Speak</h2><br>
          </div>
        </div>

        <div class="row" style="display:block; text-align:left;">
          <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12"  style="display:inline-block;">
                            {% assign ws = '' %}
                            {%- if page.layout == 'thanks' -%}
                             <p style="text-muted" style="padding: 4px 0; text-align:center; font-size:16px; font-weight:normal;"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Thanks for your message, I'll be in touch shortly!</p>

                            {%- endif -%}
              <form method="POST" action="https://formspree.io/dkatan.77@gmail.com" style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <input type="text" name="name" placeholder="Your full name"required><br>
                <input type="email" name="_replyto" placeholder="Your email" required><br>
                <textarea name="message" placeholder="Your message" class="contact" required></textarea><br>
                <input type="hidden" name="_subject" value="Speaking Engagement"/>
                <input type="hidden" name="_next" value="https://daliakatan.com/thanks#contact"/>
                <button type="submit" class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger">Send</button>
              </form>
          </div>
        </div>
      </div>
    </section>