---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <!-- Header -->

    <header class="dramatic" style="background: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.7) 0%, 
        rgba(0, 0, 0, 0) 70%
    ),
     url(../img/about/speaking5.jpg);     background-position: center;    background-size: cover!important;">

      <div class="container" style="padding-top:100px;">

      <div class="intro-text">

                <!-- <center><div class="dalia-button"> </div> </center> -->

              <div class="intro-heading" style="margin-top:50px;">{{ site.data.speaker.intro.heading }}</div>
               <div class="intro-lead-in">{{ site.data.speaker.intro.lead-in }}<br>
                <!--<a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSeChwFAJL93r95q13NO9nk5B1KXZ7NNZu5665wpOpsA4CPWWA/viewform" target="_blank" style="margin-top:20px; font-size: 16px;    padding: 5px 20px;    font-weight: 100;    font-style: normal;"><small>Subscribe</small></a>-->

                </div></div>
        </div>
    </header>

<!--
   <section class="blog bg-light" style="padding-top:35px;padding-bottom:25px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1" style="line-height: 2;"></div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-12" style="line-height: 2;">
            <p><i><SMALL>Below is a collection of random things I've shared over the last few months - I'm just playing so no rhyme or reason just yet :) </SMALL></i></p>
          </div>
          </div>
        </div>
      </section> 
-->


    <!-- Speaking -->
    <section id="speaking">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- <h2 class="section-heading">{{ site.data.speaking.speaking.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.speaking.subheading }}</h3> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="section-subheading" style="font-size:1.5rem; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:center; padding:0 10%;">
              I speak about building products and companies with care: how ideas become revenue-generating businesses and what it actually takes to navigate the startup journey.
</p>

              
            <br><p class="section-subheading text-muted" style="font-size:18px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:center; padding:0 10%;">
            I’ve shared these perspectives as a guest lecturer at Princeton University, on conference panels, in workshops, and across podcasts and live conversations. Below are some of my speaking engagements and past publications.</p><br><br>
            

                    <div class="clientcarousel slider">
                  {%- for client in site.data.speaker.clients -%}
                  {% assign ws = '' %}
                  <div class="slide" style="height:50px;">
                      <img class="img-fluid d-block mx-auto" src="{{ assets_path }}{{ client.img }}" alt="" style="height:100%; padding:5px 20px;">
                  </div>
                  {%-  endfor -%}
                {% assign ws = '' %}
                </div>
          

          </div>
        


          <!-- <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="#contact">Invite to speak</a></div> -->
      </div>
      </div>
    </section>


<!--Recent Experience-->
<!--Product-->
<div class="row">
  <div class="col-sm-12 col-lg-4" style="padding: 5%; background-color: #f7f7f7;transition: all 0.3s;">
    <div>
      <h3 class="text-muted"><span style="text-align: center;"><em>Speaker: product & growth</em></span></h3>
          <h5 style="font-size:1rem!important;"><ul class="text-muted" style="font-weight: 200;  line-height: 20px;">
            {%- for gig in site.data.speaker.speaking-product -%}
            {% assign ws = '' %}
            <li style="padding-bottom: 10px;">
              <span style="font-weight:400;">{{ gig.title }}</span>&nbsp;
              <span style="font-weight:400;padding: 2px 8px;border-radius: 6px;background-color:#EEE7F5;font-size: 12px;color: #bd76ff;margin-left: 0px;"> {{ gig.category }}</span><br>
              {{ gig.detail }}
                </li>
            {%-  endfor -%}
          {% assign ws = '' %}
          </ul></h5>
  </div>
  </div>

<!--Culture-->
  <div class="col-sm-12 col-lg-4" style="padding: 5%; background-color: #f1f1f1;transition: all 0.3s;">
    <div>
      <h3 class="text-muted"><span style="text-align: center;"><em>Speaker: culture & other</em></span></h3>
          <h5 style="font-size:1rem!important;"><ul class="text-muted" style="font-weight: 200;  line-height: 20px;">
            {%- for gig in site.data.speaker.speaking-culture -%}
            {% assign ws = '' %}
            <li style="padding-bottom: 10px;">
              <span style="font-weight:400;">{{ gig.title }}</span>&nbsp;
              <span style="font-weight:400;padding: 2px 8px;border-radius: 6px;background-color:#EEE7F5;font-size: 12px;color: #bd76ff;margin-left: 0px;"> {{ gig.category }}</span><br>
              {{ gig.detail }}
                </li>
            {%-  endfor -%}
          {% assign ws = '' %}
          </ul></h5>
  </div>
  </div>

<!--Writing-->
  <div class="col-sm-12 col-lg-4" style="padding: 5%; background-color: #f7f7f7;transition: all 0.3s;">
    <div>
      <h3 class="text-muted"><span style="text-align: center;"><em>Recent publications</em></span></h3>
          <h5 style="font-size:1rem!important;"><ul class="text-muted" style="font-weight: 200;  line-height: 20px;">
            {%- for gig in site.data.speaker.writing -%}
            {% assign ws = '' %}
            <li style="padding-bottom: 10px;">
              <span style="font-weight:400;">{{ gig.title }}</span><br>
              {{ gig.detail }}
                </li>
            {%-  endfor -%}
          {% assign ws = '' %}
          </ul></h5>
  </div>
  </div>


</div>


<!-- <section id="speaking" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        /*-- comment out <h2 class="section-heading">{{ site.data.speaking.speaking.heading }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.home.speaking.subheading }}</h3> ----*/
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
       
        
          <div class="blogcarousel slider">
            {%- for photo in site.data.speaker.photos -%}
            {% assign ws = '' %}
            <div class="slide">
                <center><img class="img-fluid d-block mx-auto" src="{{ assets_path }}{{ photo.img }}" alt="" style="height:350px; padding:5px 20px; margin:0 20px!important;"><br><P style="text-align:center; font-size:10px; max-width: {{assets_path}}{{ photos.maxwidth }};">{{assets_path}}{{ photos.caption }}</P></center>
            </div>
            {%-  endfor -%}
          {% assign ws = '' %}
          </div>
          <br><br>
      </div> 

      </div>
    
  </div>
  </div>
</section> -->


<!--
<section class="bg-light" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading" style="  text-align: center;">Additional talks & workshops I deliver</h2>

            <br><p class="section-subheading text-muted" style="font-size:18px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:center; padding:0 10%;">All my speaking engagements are tailored to my audience: while I have several talks I've previously prepared, I also work with organizers to understand the audience's needs and craft new talks, panels, or workshops that can help elevate the conversation.</p> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="padding: 30px;margin: 10px;background: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);background-image: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);color: #ffffff;">
            <h4 class="service-heading" style="margin-top:0; font-size:1.3rem; font-weight:600;">Building More Inclusive Workplaces to Unlock Business Growth</h4>
            <p style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left;">Diversity in the workplace can be a double-edged sword: it may pose a risk for conflict or give organizations an incredible competitive edge. The key to unlocking that competitive edge? Inclusion. This talk highlights steps leaders and teams can take to create more inclusive work environments, including actionable tools from Deloitte and Princeton research to unlock the benefits of diversity and inclusion in their organizations.<br></p></div>

          <div class="col-md-12" style="padding: 30px;margin: 10px;background: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);background-image: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);color: #ffffff;">
            <h4 class="service-heading" style="margin-top:0; font-size:1.3rem; font-weight:600;">Using Design Thinking to Maximize Impact and Value</h4>
            <p style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left;">In this session, business professionals will learn to engage the full array of tools that design-thinking and human-centered design have to offer. These tools will help organizations better engage customers, partners, and employees alike to think big and creating meaningful value in their ecosystems.<br></p></div>

          <div class="col-md-12" style="padding: 30px;margin: 10px;background: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);background-image: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);color: #ffffff;">
            <h4 class="service-heading" style="margin-top:0; font-size:1.3rem; font-weight:600;">Diverse, global, and socially conscious: consumers are changing, are you?</h4>
            <p style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left;">The secret to winning in an increasingly diverse, global, and socially conscious marketplace: a diverse workforce. This session covers tools that business leaders and creatives can use to strengthen their understanding of and engagement with their global audience, leveraging diversity and inclusion to design better products, improve user experiences, and tell more compelling brand stories.<br></p></div>

          
          <div class="col-md-12" style="padding: 30px;margin: 10px;background: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);background-image: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);color: #ffffff;">
            <h4 class="service-heading" style="margin-top:0; font-size:1.3rem; font-weight:600;">A €2.2 Trillion opportunity: integrating refugees into business design</h4>
            <p style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left;">Integrating refugees into the global labor market presents an opportunity to unlock a $2.5 trillion annually. This session covers the tools business leaders need to integrate refugees into their workforce and the design of their products, as well as best practices and case studies on nurturing diversity to improve business performance via improved creativity, productivity, innovation, and decision-making.<br></p></div>

          
          <div class="col-md-12" style="padding: 30px;margin: 10px;background: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);background-image: radial-gradient(circle at left top, #e9168c 9%, #f75254 91%);color: #ffffff;">
            <h4 class="service-heading" style="margin-top:0; font-size:1.3rem; font-weight:600;">Using Workplace Integration to Bridge Divides</h4>
            <p style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:left;">Diversity in the workplace has been shown to improve companies' bottom-lines, but that's not all: it also presents a meaningfully opportunity to bridge deep racial, ethnic, political, or social divides. This talk educates business leaders and teams on the tools they can use to use diversity as a vehicle for social cohesion, including an array of case studies and primary research on inclusive companies and the impacts they've had on their communities. 
            	<br></p></div>


          
          

          
        </div>
          
      </div>
    </section>

    
--->


<!-- Contact -->
<section id="contact" style="background-image: url(../img/contact-bg4.jpg)!important; background-position:right;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2 class="section-heading text-uppercase">Invite to Speak</h2><br>
          </div>
        </div>

        <div class="row" style="display:block; text-align:left;">
          <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12"  style="display:inline-block;">
                            {% assign ws = '' %}
                            {%- if page.layout == 'thanks' -%}
                             <p class="text-muted" style="padding: 4px 0; text-align:center; font-size:16px; font-weight:normal;"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Thanks for your message, I'll be in touch shortly!</p>

                            {%- endif -%}
              <form method="POST" action="https://formspree.io/dkatan.77@gmail.com" style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <input type="text" name="name" placeholder="Your full name"required><br>
                <input type="email" name="_replyto" placeholder="Your email" required><br>
                <textarea name="message" placeholder="Your message" class="contact" required></textarea><br>
                <input type="hidden" name="_subject" value="Speaking Engagement"/>
                <input type="hidden" name="_next" value="https://daliakatan.com/thanks#contact"/>
                <button type="submit" class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger">Send</button>
              </form>
          </div>
        </div>
      </div>
    </section>