---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <!-- Header -->

    <header class="dramatic" style="">

      <div class="container" style="padding-top:100px;">

      <div class="intro-text">

              <div class="intro-heading">{{ site.data.speaker.intro.heading }}</div>
               <div class="intro-lead-in">{{ site.data.speaker.intro.lead-in }}<br><a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSeChwFAJL93r95q13NO9nk5B1KXZ7NNZu5665wpOpsA4CPWWA/viewform" target="_blank" style="margin-top:20px; font-size: 16px;    padding: 5px 20px;    font-weight: 100;    font-style: normal;"><small>Subscribe</small></a>
                </div></div>
        </div>
    </header>

<!--
   <section class="blog bg-light" style="padding-top:35px;padding-bottom:25px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1" style="line-height: 2;"></div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-12" style="line-height: 2;">
            <p><i><SMALL>Below is a collection of random things I've shared over the last few months - I'm just playing so no rhyme or reason just yet :) </SMALL></i></p>
          </div>
          </div>
        </div>
      </section> 
-->


    <!-- Speaking -->
    <section id="speaking">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- <h2 class="section-heading">{{ site.data.speaking.speaking.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.speaking.subheading }}</h3> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="section-subheading text-muted" style="font-size:18px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align:center;">
              As a first-generation American and innovation strategist, I am championing dialogue on how diversity and human connection can unlock untapped growth for companies. 

              <br><br>Amongst my advisory work with startups and F500 companies, I founded the Refugee Workplace Integration Program at Deloitte, celebrating inclusion as the single most powerful tool for growth and business empowerment. I am dedicated to empowering organizations to successfully utilize and nurture the talents of minorities and my work at the intersection of inclusion, the future of work, and business growth has been published at Deloitte and Princeton University. 

              <Br><BR>I believe that organizations have an incredible opportunity to use diversity not only to improve business performance but also to meaningfully bridge divides and am committed to educating employers on creating the workplace environments that can reducing prejudice and improve social cohesion across gender, race, ethnicity, and political ideologies. 
            </p><br>
            <p><h4>Recent speaking engagements & publications</h4></p>
            <p><ul id="speaking"><li class="speaking">Using Workplace Diversity to Bridge Divides (Deloitte)</li>
            <li class="speaking">Business Practice Redesign & The Future of Work: Moving From Best to Better and Better (Deloitte)</li>
            <li class="speaking">How Companies Can Retain Top Talent Through a Culture of Intrapreneurship (Deloitte)</li>
            <li class="speaking">Women in Marketing (Princeton)</li>
            <li class="speaking">The Key to Viral Growth (Princeton Social Entrepreneurship Conference)</li>
            <li class="speaking">Rethinking Productivity: Channeling Energy and Flow Over Discipline to Get Things Done (self-published)</li></ul></p>
          </div>
        
          <div class="col-md-5"><img src="/img/about/speaking1.jpg" width="100%">
          </div>


          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="#contact">Book speaking engagement</a></div>
      </div>
      </div>
    </section>


<!--other categories-->

<div class="row">
<div class="col-sm-12 col-lg-4" style="padding: 5%;   background-color: #f7f7f7;transition: all 0.3s;">
  <div>
    <h3 class="text-muted"><span style="text-align: center;"><em>Areas of specialty</em></span>  </h3>
    <h5 style="font-size:1rem!important;"><ul class="text-muted" style="line-height: 1.4"><li>Human-centered Design</li>
      <li>Innovation & Growth Strategy</li>
      <li>Growth Ambition Definition</li>
      <li>Brand Design & Storytelling</li>
      <li>Future of Work & Workplace Inclusion</li>
      <li>Startup advisory</li>
      <li>Corporate innovation</li></ul></h5>
  </div>
</div>


<div class="col-sm-12 col-lg-4" style="padding: 5%; background-color: #f1f1f1;transition: all 0.3s;">
  <div>
    <h3 class="text-muted"><span style="text-align: center;"><em>Recent & upcoming speaking engagements</em></span></h3>
            <h5 style="font-size:1rem!important;"><ul class="text-muted" style="line-height: 1.4">
            	<li>Connection and Networks in the Digital Economy (Guest Lecturer, November 2019, Princeton University)</li>
            	<li>Using Workplace Diversity to Bridge Divides (Podcast Guest, June 2019, Way We Lead Podcast)</li>
              <li>Using Workplace Diversity to Bridge Divides (Speaker, August 2018, Deloitte)</li>
            <li>How Companies Can Retain Top Talent Through a Culture of Intrapreneurship (Speaker, June 2018, Deloitte)</li>
            <li>Women in Marketing (Panel Moderator, 2015, Princeton)</li>
            <li>An Algorithm for Growth (Workshop Speaker, March 2015, Princeton Social Entrepreneurship Conference)</li></ul></h5>
  </div>
</div>

<div class="col-sm-12 col-lg-4" style="padding: 5%; background-color: #f7f7f7;transition: all 0.3s;">
  <div>
    <h3 class="text-muted"><span style="text-align: center;"><em>Recent publications</em></span></h3>
            <h5 style="font-size:1rem!important;"><ul class="text-muted" style="line-height: 1.4">
            <li>A New Home at Work: An Employer's Guidebook to Fostering Inclusion for Refugee Employees (<a href="https://www2.deloitte.com/content/dam/insights/us/articles/4988_a-new-home-at-work/DI_A-new-home-at-work.pdf" target="_blank">2019, Deloitte</a>)</li>
            <li>Business Practice Redesign & The Future of Work: Moving From Best to Better and Better (<a href="https://www2.deloitte.com/insights/us/en/topics/talent/business-performance-improvement/process-redesign.html" target="_blank">2017, Deloitte</a>)</li>
            <li>Entrepreneurial Finance: Uber's Path to Success (<a href="https://mitpress.mit.edu/books/entrepreneurial-finance-and-accounting-high-tech-companies" target="_blank">2014, MIT Press</a>)</li>
            <li>Rethinking Productivity: Channeling Energy and Flow Over Discipline to Get Things Done (<a href="https://daliakatan.com/trailmix/" target="_blank">2019, self-published</a>)</li>
            <li>Building a Shared Israeli Society: Improving Arab-Jewish Relations in Israel Through Workforce Integration (2015, Princeton University)</li>
          </ul></h5>
  </div>
</div>
</div>

<!-- Contact -->
<section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2 class="section-heading text-uppercase">Get in touch</h2>
            <h3 class="section-subheading" style="font-size:15px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; color:white; margin-bottom:50px;">Let's brainstorm over tea and create something amazing together! <br>Shoot me a message below, or schedule a phone <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet"><script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script><a href="" onclick="Calendly.showPopupWidget('https://calendly.com/daliakatan');return false;" style="color:#ff453c;">consultation</a>.</h3>
          </div>
        </div>

        <div class="row" style="display:block; text-align:left;">
          <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12"  style="display:inline-block;">
                            {% assign ws = '' %}
                            {%- if page.layout == 'thanks' -%}
                             <p style="text-muted" style="padding: 4px 0; text-align:center; font-size:16px; font-weight:normal;"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Thanks for your message, I'll be in touch shortly!</p>

                            {%- endif -%}
              <form method="POST" action="https://formspree.io/dkatan.77@gmail.com" style="font-size:14px; font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <input type="text" name="name" placeholder="Your full name"required><br>
                <input type="email" name="_replyto" placeholder="Your email" required><br>
                <div class="customdropdown">
                  <select name="_subject" class="embedcontact"><option>Select a Subject</option><option>Consulting Inquiry</option><option>Workshop Inquiry</option><option>Speaking Engagement</option><option>Something Else</option></select></div> 
                <textarea name="message" placeholder="Your message" class="contact" required></textarea><br>
                <input type="hidden" name="_next" value="https://daliakatan.com/thanks#contact"/>
                <button type="submit" class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger">Send</button>
              </form>
          </div>
        </div>
      </div>
    </section>