---
layout: default-sub
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <!-- Header -->

    <header class="dramatic" style="">

      <div class="container" style="padding-top:100px;">

      <div class="intro-text">

                <center><div class="dalia-button"> </div></center>

              <div class="intro-heading">{{ site.data.strategy.intro.heading }}</div>
               <div class="intro-lead-in">{{ site.data.strategy.intro.lead-in }}<br>
                <!--<a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSeChwFAJL93r95q13NO9nk5B1KXZ7NNZu5665wpOpsA4CPWWA/viewform" target="_blank" style="margin-top:20px; font-size: 16px;    padding: 5px 20px;    font-weight: 100;    font-style: normal;"><small>Subscribe</small></a>-->

                </div></div>
        </div>
    </header>

<!--
   <section class="blog bg-light" style="padding-top:35px;padding-bottom:25px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1" style="line-height: 2;"></div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-12" style="line-height: 2;">
            <p><i><SMALL>Below is a collection of random things I've shared over the last few months - I'm just playing so no rhyme or reason just yet :) </SMALL></i></p>
          </div>
          </div>
        </div>
      </section> 
-->


    <!-- Speaking -->
    <section id="speaking">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- <h2 class="section-heading">{{ site.data.speaking.speaking.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.speaking.subheading }}</h3> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="section-subheading" style="font-size:1.5rem; text-align:center; padding:0 10%;">
              I have spent the last decade focused on design-led innovation, entre/intrapreneurship, storytelling, and business strategy.</p>

              
            <br><p class="section-subheading text-muted" style="font-size:18px; text-align:center; padding:0 10%;">Merging the best of corporate innovation tools with a deep understanding of human-centered research and design, I work with my clients to begin their innovation at the customer's need and design strategies for growth that unlock the potential of their organizations and talent alike.   </p><br><br>
          
                <div class="clientcarousel slider">
                  {%- for client in site.data.home.clients -%}
                  {% assign ws = '' %}
                  <div class="slide" style="height:50px;">
                      <img class="img-fluid d-block mx-auto" src="{{ assets_path }}{{ client.img }}" alt="" style="height:100%; padding:5px 20px;">
                  </div>
                  {%-  endfor -%}
                {% assign ws = '' %}
                </div>

          </div>
        


          <div class="col-lg-12" style="text-align:center;"><br><BR><a class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger" href="#contact">Schedule consult</a></div>
      </div>
      </div>
    </section>




    <!-- Services -->
    <section class="bg-light" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading">{{ site.data.home.services.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.services.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          {%- for service in site.data.home.services.service -%}
          {% assign ws = '' %}
          <div class="col-md-5" style="border-left: 4px #dedede solid; padding-left:30px; margin-bottom:40px;">
            <h4 class="service-heading" style="margin-top:0;">{{ service.heading }}</h4>
            <p class="text-muted" style="font-size:14px; text-align:left;">{{ service.text }}</p>
          </div>

          <div class="col-md-1"></div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>



    <!-- Portfolio Grid -->
    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.home.portfolio.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.portfolio.subheading }}</h3>
          </div>
        </div>
       <div class="row">
          {%- for project in site.projects -%}
          {% assign ws = '' %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ project.id | replace: '/projects/', '' }}">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
            </a>
            <div class="portfolio-caption">
              <h5>{{ project.title }}</h5>
              <p class="text-muted">{{ project.client }}</p>
            </div>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section  class="bg-light" id="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.home.testimonials.heading }}</h2>
            <!-- <h3 class="section-subheading text-muted">{{ site.data.home.testimonials.subheading }}</h3> -->
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel" data-interval="10000">
              <!-- Bottom Carousel Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
                <li data-target="#quote-carousel" data-slide-to="3"></li>
                <li data-target="#quote-carousel" data-slide-to="4"></li>
                <li data-target="#quote-carousel" data-slide-to="5"></li>
              </ol>
              
              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner">
              
                <!-- Quote 1 -->
                <div class="carousel-item active">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>Dalia is one of the best all-around people that I know. Her tremendous background (Ivy League, Big 4 Consulting, startups) is rooted in the foundation of subject expertise/knowledge, integrity, professionalism, heart, pride in her work, and how she treats people at all levels - leaving a lasting impression to those lucky to have worked with her.</p>
                        <small>John Z., EVP Marketing, Tech Company</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="carousel-item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>Dalia has incredible strategic thinking, leadership skills – Envisioning, Engaging and Execution skills. She demonstrates great presence, EQ, IQ and drive and took full ownership of our project along with her colleagues. Teamwork between Dalia and various members was outstanding making it seamless for the entire team. She is a great talent to seek out to solve big and complex challenges. </p>
                        <small>Akhil S., Global CFO, Global Consumer Goods Company</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="carousel-item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>Dalia was brought in to lead the innovation stream of the project, including conducting analysis of past work, designing the innovation workshop materials and activities and assessing/organization the outputs of the sessions. Dalia is extremely professional and one of the most collaborative people I’ve met with genuine interests and passions for helping others. She is detail-oriented and well organized... She really owned the room and helped our people think outside of the box. Dalia is truly a leader and an asset for any business.</p>
                        <small>Anna S., Client, Global Consumer Goods Company</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 4 -->
                <div class="carousel-item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>We engaged Dalia for a quick turnaround on our Series A investor presentation. She was responsive and diligent in quickly learning our business and our market and in creating a wonderful presentation for us. Perhaps most impressive was the fact that she provided valuable insight into the VC / entrepreneur thought process and recommendations that improved our storytelling. We look forward to working with Dalia again!</p>
                        <small>Turab B., VP of Finance, Energy/Computing Startup</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 5 -->
                <div class="carousel-item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>I worked with Dalia to establish and manage a network of professionals to grow Doblin's presence on the west coast. Dalia was the driver of this effort, helping it grow from the two of us to a vibrant community or practitioners, partners, and account leaders. [...] Dalia is smart, proactive, thoughtful and energetic. She delivers high quality work and is a pleasure to work with. I have been lucky to have her as a colleague!</p>
                        <small>Erik K., Managing Director, Deloitte</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 6 -->
                <div class="carousel-item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-2"></div><div class="col-sm-8">
                        <p>There are only a few people in the world who match her vision along with her determination and energy, and I have time and time again been left speechless.</p>
                        <small>Aoi S., CEO/Founder, Jumpstart</small>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>
              
              <!-- Carousel Buttons Next/Prev -->
              <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
              <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>                          
          </div>
        </div>
      </div>
    </section>


<!-- Contact -->
<section id="contact" style="background-image: url(../img/contact-bg5.jpg)!important; background-position:right;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2 class="section-heading text-uppercase">Let's collaborate</h2>
            <h3 class="section-subheading" style="font-size:15px; color:white; margin-bottom:50px;">Schedule a phone <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet"><script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script><a href="" onclick="Calendly.showPopupWidget('https://calendly.com/daliakatan');return false;" style="color:#ff453c;">consultation</a> or send me a note below.</h3>
          </div>
        </div>

        <div class="row" style="display:block; text-align:left;">
          <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12"  style="display:inline-block;">
                            {% assign ws = '' %}
                            {%- if page.layout == 'thanks' -%}
                             <p style="text-muted" style="padding: 4px 0; text-align:center; font-size:16px; font-weight:normal;"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Thanks for your message, I'll be in touch shortly!</p>

                            {%- endif -%}
              <form method="POST" action="https://formspree.io/dkatan.77@gmail.com" style="font-size:14px; ">
                <input type="text" name="name" placeholder="Your full name"required><br>
                <input type="email" name="_replyto" placeholder="Your email" required><br>
                <textarea name="message" placeholder="Your message" class="contact" required></textarea><br>
                <input type="hidden" name="_subject" value="Consulting Inquiry"/>
                <input type="hidden" name="_next" value="https://daliakatan.com/thanks#contact"/>
                <button type="submit" class="btn btn-secondary btn-xl text-uppercase js-scroll-trigger">Send</button>
              </form>
          </div>
        </div>
      </div>
    </section>